*.depends
*.filters
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*_automoc.cpp
_CPack_Packages
CMakeFiles
CMakeCache.txt
Debug
RelWithDebInfo
Release
cmake_install.cmake
moc_*.cpp
qrc_*.cpp
ui_*.h
CPackConfig.cmake
CPackSourceConfig.cmake
*.wixobj
install_manifest.txt
*.msi
